

.calculator-box{

    margin: 0 auto;
    background-color: rgba(10, 10, 10, 0.726);
    width: 400px;
    height:404px;
    margin-top: 100px;
    border-radius: 10px;
    border: rgb(27, 27, 27);
    border-style: solid;
    border-color:rgb(226, 218, 218);
    box-shadow: 2px 2px 5px black ;
}

.screen-box
{
    
    width: 400px;
    height: 101px;

}
#screen{

    margin-left: 26px;
    height: 43px;
    width: 325px;
    margin-top: -8px;
    border-radius: 10px;
    font-weight: bold;
}
.heading{

    padding-left: 156px;
    font-size: 17pt;
    font-weight: bold;
    
    color: rgb(255, 254, 254);
}
.heading:hover{

    color: black;
    
}


.button-box{
    
    width: 368px;
    height: 223px;
    padding-left: 30px;
    padding-top: 13px;
}


.button{

    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(12, 7, 7);
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.button:hover{
    background-color: rgb(192, 186, 186);
    color: black;
    font-weight: bold;
}